body{
    background-color: #000000;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

.title{
    margin: 32px 0;
}

.title h1{
    text-align: center;
}

.title span{
    display: block;
    text-align: center;
}


.calculator{
    display: inline-block;
    width: 100%;
}
.display-field{
    background-color: #ffffff;
    color: #000000;
    font-size: 40px;
    padding: 8px;
    margin-bottom: 12px;
    text-align: right;
    font-weight: bold;
    border-radius: 20px;
}
.calc-button{
    width: 100%;
    border: 0;
    font-size: 30px;
    padding:10px;
    margin: 5px 0;
    background-color: #2d2e2e;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
}
.calc-button:active{
    background-color: #ffffff;
}
.operator{
    background-color: #ff4f00;
    color: #ffffff;
}

.clear{
    background-color: #ff0000;
}